:root {
    --main-color:#ec1380 ;
    --black:#13131a ;
    --bg:#010103;
    --white:#fff;
    font-size: 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

body {
    background: var(--white);
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    border-bottom: 0.1rem solid var(--main-color);
    z-index: 1000;
    background-color: var(--white);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header .logo img {
    height: 7rem;
}

.navbar a{
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--bg);
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;

}


.icons img {
    margin: 1rem;
    cursor: pointer;

}

.icons img:hover {
    width: 35px;
    height: 35px;
}

.btn {
    background: var(--main-color);
    color: var(--white);
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.btn:hover {
    letter-spacing: 0.1rem;
}

/* ESTILO DO MENU MOBILE */
.btn-abrir-menu {
    color: var(--bg);
    font-size: 40px;
    display: none; /* escondido no desktop */
    cursor: pointer;
}

.menu-mobile {
    background-color: var(--white);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abri-menu {
    width: 70%;
}

.menu-mobile.abri-menu~.overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: var(--white);
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: var(--main-color);
    color: #000;
}

.overlay-menu {
    background-color: #000000a6;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.home-container {
    background: url("./img/principal.png") ;
    background-position: center;  
    background-size: cover;
}

.home-container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 100rem;
}

.content h3 {
    font-size: 5rem;
    color: var(--white);
}

.content p {
    font-size: 1.6rem;
    color: var(--white);
    padding: 1rem 0;
    line-height: 1.8;
}

.title {
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span {
    color: var(--bg);
    text-transform: uppercase;
}

.about .row{
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
}

.about .row .content {
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--white);
}

.about .row .content p {
    font-size: 1.6rem;
    color: var(--white);
    padding: 1rem 0;
    line-height: 1.8;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    border: var(--main-color) 0.1rem solid;
    border-radius: 10px ;
    text-align: center;
    padding: 5rem;
    cursor: pointer;
}

.menu .box-container .box img {
    width: 25rem;
    height: 20rem;
    border-radius: 10px;
}

.menu .box-container .box h3 {
    font-size: 2rem;
    color: var(--bg);
    padding: 1rem 0;
}

.menu .box-container .box p {
    font-size: 1.5rem;
    color: var(--bg);
    padding: 0.5rem 0;
}

.menu .box-container .box .saiba-mais {
    font-size: 1.5rem;
    color: var(--bg);
    font-weight: 300;
    border: 0.1rem solid var(--main-color);
}

.menu .box-container .box:hover {
    background-color: #d65495;
    border-radius: 10px;
    
}

.menu .box-container .box:hover>* {
    color: var(--white);
}

.review h2 {
    font-size: 3rem;
    color: var(--main-color);
}

.review .box-container .box {
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 3rem 2rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    color: var(--bg);
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: 300;
}

.review .box-container .box h3 {
    color: var(--bg);
    font-size: 2rem;
    margin: 1rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.address {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share img {
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.footer .share img:hover {
    background-color: var(--bg);
}

.footer .credit {
    color: var(--main-color);
    font-size: 1rem;
    padding: 1rem 0;
}